* {
  box-sizing:border-box;
}

svg {
  border:1px solid gray;
  background-color:#ddd;
  display:inline-block;
  width:calc(100% - 20px);
  height:80vh;
}
form {
  display:inline-block;
  vertical-align: top;
  width:25%;
}
.perso {
  fill:none;
  stroke:black;
  stroke-width:2;
}
text.perso {
  fill:black;
  stroke:none;
}
fieldset {
  margin:10px;
}
#uploadFile {
  display:none;
}
.btn.btn-default img {
  height:18px;
}