:root {
  font-family:sans-serif;
  font-size:16px;
}
svg#content {
  border:1px solid gray;
  background-color:#ddd;
  display:inline-block;
  width:100%;
  height:80vh;
  box-sizing:border-box;
}
svg:not(:root){ 
  overflow:hidden;
}
form {
  display:inline-block;
  vertical-align: top;
  width:25%;
}
.perso {
  fill:none;
  stroke:black;
  stroke-width:2;
}
text.perso {
  fill:black;
  stroke:none;
}
fieldset {
  margin:10px;
}
#uploadFile {
  display:none;
}
.btn.btn-default img {
  height:18px;
}